:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --white-text-color: #FFFFFF;
}

body {
    background-color: tomato;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0000);
    clip-path: inset(50%);
    margin: -1px;
}

 /*header*/
.logo {
    color: var(--accent-text-color)
}
.logo-head {
    color: #000000;
}
ul {
    list-style: none;
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-text-color);
}
.site-nav .link.current {
    color: var(--accent-text-color);
}

.cont-nav .link {
color: var(--primary-text-color);
}
.cont-nav .link:hover,
.cont-nav .link:focus {
color: var(--accent-text-color);
}

/*main*/
.hero .hero-title {
    color: var(--white-text-color);
}

.features-list .title,
.section .work-title,
.section .team-title,
.developers-list .title,
.production-list .title {
color: var(--title-text-color);
}

.features-list .text,
.developers-list .text,
.production-list .text {
    color: var(--primary-text-color);
}

/*Buttons*/
.hero .button {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}
.hero .button:hover,
.hero .button:focus {
background-color: #188CE8;
}

.button-list .buttons {
    color: var(--title-text-color);
    background-color: #F5F4FA;
}
.button-list .buttons:hover,
.button-list .buttons:focus {
color: var(--white-text-color);
background-color: var(--accent-text-color);
}



/*footer*/
.logo-foot {
    color: var(--white-text-color);
}
.nav-foot .link {
    color: var(--white-text-color);
}
.nav-foot .cont-link {
    color: rgba(255, 255, 255, 0.6);
}



/*цвет шифра хэдера 212121-->
/*web -2196f3; studio - 000000
/*contacts 757575
/*кнопка при ховере 188СЕ8
/*footer: all ffffff; contacts rgba(255, 255, 255, 0.6);
/*весь мелкий шрифт 757575
/*header fffff
/*шапка 2F303A
/*фон f5f5f5
/*Наша команда bg F5F4FA
/*footer 2F303A